*{
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
  box-sizing: border-box;
  color: #606266;
}

input{
  color: #606266;
  background-color: #ffffff;
  border: 1px solid #dfe0e1;
  border-radius: 4px;
  padding: 7px 10px;
  outline: none;
}
/* 去掉number输入箭头 */
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
	-webkit-appearance: none !important;
	margin: 0;
}
textarea{
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dfe0e1;
  border-radius: 4px;
  padding: 7px 10px;
  resize: none;
  outline: none;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
  font-size: 13px;
  color: #909399;
}
textarea:focus,input:focus{
  border-color: rgba(104,48,213,0.8);
  box-shadow: 0 0 7px rgba(104,48,213,0.5);
}
.el-select__input:focus{
  box-shadow: none;
}

/* 标题文字 */
h1{
  color: #303133;
  font-size: 20px;
  font-weight: 500;
}
h2{
  color: #303133;
  font-size: 18px;
  font-weight: 400;
}
h3{
  color: #303133;
  font-size: 16px;
  font-weight: 400;
}

/* 路由 */
.router{
  text-decoration: none;
  outline: none;
}
.router:active{
  color: #606266;
}

/* 按键 */
.btn{
  color: #F4F4F4;
  background-color: rgba(104,48,213,0.9);
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
}
.btn:hover{
  background-color: #6830d5;
  box-shadow: 0 0 5px rgba(64,48,213,0.6),0 0 5px rgba(64,48,213,0.5);
}

/* 备注信息 */
.remak{
  color: #909399;
  font-size: 12px;
}

/* 弹窗 */
.popup{
  position: absolute;
  margin: 0 auto;
  background-color: #FFFFFF;
  top: 20vh;
  width: 95%;
  max-width: 900px;
  padding: 10px;
  border-radius: 10px;
  z-index: 9999;
}
.mask{
  position:fixed;
  z-index:99;
  width:100%;
  height:100%;
  background-color:#b2b2b2;
  top:0;
  left:0;
  opacity:0.8;
}

.el-loading-spinner .el-loading-text,.el-icon-loading{
  font-size: 25px;
}
